/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.98);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-fade-in-slide {
    animation: fadeInSlide 0.6s ease-out both;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}