/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.98);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-fade-in-slide {
    animation: fadeInSlide 0.6s ease-out both;
  }
}
@keyframes float-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes float-fast {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}

@keyframes clouds {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}

.animate-float-slow {
  animation: float-slow 12s ease-in-out infinite;
}

.animate-float-fast {
  animation: float-fast 6s ease-in-out infinite;
}

.animate-clouds {
  animation: clouds 60s linear infinite;
}

.animate-pulse-slow {
  animation: pulse 4s ease-in-out infinite;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* input or label style  */

.label-style {
  @apply mb-2 text-sm md:text-base font-extrabold text-[#00ffee] uppercase tracking-wide drop-shadow-md;
}

.input-style {
  @apply w-full px-4 py-2 text-gray-900 dark:text-white bg-white dark:bg-slate-800 border
         border-gray-300 dark:border-gray-600 rounded-lg shadow-sm focus:outline-none focus:ring-2
         focus:ring-green-500 focus:border-green-500 transition-all duration-200;
}

@keyframes scan {
  0% { top: 0%; }
  50% { top: 100%; }
  100% { top: 0%; }
}

.animate-scan {
  animation: scan 2s linear infinite;
}

